@model EVENT_ORGANIZER.Models.Register

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";

}

<div class="card-body text-center">
    <h3 class="mb-3 text-white">EVENT ORGANIZER</h3>
    <h4 class="mb-3 text-white">FORGOT PASSWORD</h4> <!-- Updated heading -->
    @using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post, null))
    {
        <div class="form-group mb-3">
            @Html.TextBoxFor(a => a.Email, new { @class = "form-control", placeholder = "Enter your Email" })
            @Html.ValidationMessageFor(a => a.Email, null, new { @class = "text-danger" })
        </div>

        <button type="submit" class="btn gradient-btn w-100">Reset Password</button>

        @if (!string.IsNullOrWhiteSpace(ViewBag.Error))
        {
            <div class="row">
                <div class="col-12 text-danger">
                    @ViewBag.Error
                </div>
            </div>
        }

        <!-- Back to Login -->
        <div class="mt-3">
            <span class="text-white">Remembered your password? </span>
            @Html.ActionLink("Login Here", "Index", "Login", null, new { @class = "text-decoration-none" })
        </div>
    }
</div>
