@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Book Us";
    Layout = "~/Views/Shared/_Common.cshtml";
}

<!-- Book Us Start -->
<div class="container-fluid contact py-6 wow bounceInUp" data-wow-delay="0.1s">
    <div class="row g-0">
        <div class="col-1">
            <img src="~/Images/img9.jpg" class="img-fluid h-100 w-100 rounded-start" style="object-fit: cover; opacity: 0.7;" alt="">
        </div>
        <div class="col-10">
            <div class="border-bottom border-top border-primary bg-light py-5 px-4">
                <div class="text-center">
                    <small class="d-inline-block fw-bold text-dark text-uppercase bg-light border border-primary rounded-pill px-4 py-1 mb-3">Book Us</small>
                    <h1 class="display-5 mb-5">Where you want Our Services</h1>
                </div>
                <div class="row g-4 form">
                    <div class="col-lg-4 col-md-6">
                        <select class="form-select border-primary p-2" aria-label="Default select example">
                            <option selected>Select Service</option>
                            <option value="1">Corporate event</option>
                            <option value="2">Destination Wedding</option>
                            <option value="3">Catering services</option>
                        </select>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <select class="form-select border-primary p-2" aria-label="Default select example">
                            <option selected>Select City</option>
                            <option value="1">Bhubneshwar</option>
                            <option value="2">Rourkela</option>
                            <option value="3">Sambalpur</option>
                        </select>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <select class="form-select border-primary p-2" aria-label="Default select example">
                            <option selected>Select Venue</option>
                            <option value="1">
                                Galaxy Convention
                            </option>
                            <option value="2">
                                Dolphin Garden
                            </option>
                            <option value="3">
                                Gopabandhu Kalyan Mandap
                            </option>
                        </select>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <select class="form-select border-primary p-2" aria-label="Default select example">
                            <option selected>Small Event</option>
                            <option value="1">Event Type</option>
                            <option value="2">Big Event</option>
                            <option value="3">Small Event</option>
                        </select>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <select class="form-select border-primary p-2" aria-label="Default select example">
                            <option selected>Capacity</option>
                            <option value="1">100-200</option>
                            <option value="2">300-400</option>
                            <option value="3">500-600</option>
                            <option value="4">700-800</option>
                            <option value="5">900-1000</option>
                            <option value="6">1000+</option>
                        </select>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <select class="form-select border-primary p-2" aria-label="Equipment Requirement">
                            <option selected>Equipment Requirement</option>
                            <option value="1">Sound System</option>
                            <option value="2">Stage & Lighting</option>
                            <option value="3">Projector & Screen</option>
                            <option value="4">Photography & Videography</option>
                            <option value="5">Air Conditioning / Coolers</option>
                            <option value="6">Custom (Specify in Comments)</option>
                        </select>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <input type="mobile" class="form-control border-primary p-2" placeholder="Your Contact No.">
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <input type="date" class="form-control border-primary p-2" placeholder="Select Date">
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <input type="email" class="form-control border-primary p-2" placeholder="Enter Your Email">
                    </div>
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-primary px-5 py-3 rounded-pill">Submit Now</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1">
            <img src="~/Images/img9.jpg" class="img-fluid h-100 w-100 rounded-end" style="object-fit: cover; opacity: 0.7;" alt="">
        </div>
    </div>
</div>

<!-- Book Us End -->
