@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewBag.Title = "Gallery";
}

<!-- Hero Start -->
<div class="container-fluid bg-light py-6 my-6 mt-0">
    <div class="container text-center animated bounceInDown">
        <h1 class="display-1 mb-4">Gallery</h1>
        <ol class="breadcrumb justify-content-center mb-0 animated bounceInDown">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item text-dark" aria-current="page">Gallery</li>
        </ol>
    </div>
</div>
<!-- Hero End -->
<div class="container mt-5">
    
    <h2 class="text-center mb-4">Our Gallery</h2>
    <div class="row g-4">
        <div class="col-md-4">
            <div class="card wow bounceInUp" data-wow-delay="0.7s">
                <img src="~/Images/img1.jpg" class="card-img-top" alt="Event Image">
            </div>
        </div>
        <div class="col-md-4">
            <div class="card wow bounceInUp" data-wow-delay="0.7s">
                <img src="~/Images/img2.jpg" class="card-img-top" alt="Event Image">
            </div>
        </div>
        <div class="col-md-4">
            <div class="card wow bounceInUp" data-wow-delay="0.7s">
                <img src="~/Images/img3.jpg" class="card-img-top" alt="Event Image">
            </div>
        </div>
        <div class="col-md-4">
            <div class="card wow bounceInUp" data-wow-delay="0.7s">
                <img src="~/Images/img4.jpg" class="card-img-top" alt="Event Image">
            </div>
        </div>
        <div class="col-md-4">
            <div class="card wow bounceInUp" data-wow-delay="0.7s">
                <img src="~/Images/img6.jpg" class="card-img-top" alt="Event Image">
            </div>
        </div>
        <div class="col-md-4">
            <div class="card wow bounceInUp" data-wow-delay="0.7s">
                <img src="~/Images/img8.jpg" class="card-img-top" alt="Event Image">
            </div>
        </div>
    </div>
</div>



   